<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- METADATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/styles.css}" />
    <link rel="stylesheet" th:href="@{/static/createGame.css}" />
    <link rel="stylesheet" th:href="@{/static/bootstrap/bootstrap.min.css}" />

    <!-- TITLE -->
    <title>Game Store</title>
  </head>
  <body>
    <!------------------------------>
    <!----------- HEADER ----------->
    <!------------------------------>
    <div class="header">
      <!-- LOGO -->
      <strong>GAME STORE</strong>

      <!-- USER INFORAMTION -->
      <div class="user-data-on-header-container">
        <!-- USER AND AUTHORITY -->
        <span class="mx-3">Joaquin Coronado <strong>(ADMIN)</strong></span>

        <!------------------------------------->
        <!----------- LOGOUT BUTTON ----------->
        <!------------------------------------->
        <form th:action="@{/login}">
          <button class="btn btn-light btn-sm">Logout</button>
        </form>
      </div>
    </div>

    <!-------------------------------------->
    <!----------- MAIN CONTAINER ----------->
    <!-------------------------------------->
    <div class="main-container">
      <!-------------------------------->
      <!----------- CONTROLS ----------->
      <!-------------------------------->
      <div class="controls">
        <!-- SECTION NAME -->
        <span>Save Games</span>

        <!--------------------------------------->
        <!----------- RETURN BUTTON ----------->
        <!--------------------------------------->
        <div>
          <form th:action="@{/game/list}">
            <button class="btn btn-outline-secondary">Return</button>
          </form>
        </div>
      </div>

      <!--------------------------------->
      <!----------- GAME FORM ----------->
      <!--------------------------------->
      <div class="content-container">
        <div class="add-game-form-container">
          <form  th:action="@{/game/create}" th:method="post" th:object="${game}">
            <!-- TITLE -->
            <div class="mb-3 w-100">
              <label class="form-label" for="title">Title</label>
              <input th:field="*{title}" type="text" class="form-control" id="title" />
              <div 
              	class="alert alert-warning mt-1" 
              	th:if="${#fields.hasErrors('title')}" 
              	th:errors="*{title}" ></div>
            </div>

            <!-- TYPE -->
            <div class="mb-3">
              <label class="form-label" for="type">Type</label>
              <input th:field="*{type}" type="text" class="form-control" id="type" />
              <div 
              	class="alert alert-warning mt-1" 
              	th:if="${#fields.hasErrors('type')}" 
              	th:errors="*{type}" ></div>
            </div>

            <!-- PRICE -->
            <div class="mb-3">
              <label class="form-label" for="price">Price</label>
              <input th:field="*{price}" type="number" step="0.01" class="form-control" id="price" />
              <div 
              	class="alert alert-warning mt-1" 
              	th:if="${#fields.hasErrors('price')}" 
              	th:errors="*{price}" ></div>
            </div>

            <!-- URL IMAGE -->
            <div class="mb-4">
              <label class="form-label" for="image">URL image</label>
              <input th:field="*{image}"  type="text" class="form-control" id="image" />
              <div 
              	class="alert alert-warning mt-1" 
              	th:if="${#fields.hasErrors('image')}" 
              	th:errors="*{image}" ></div>
            </div>

            <!-- SAVE GAME BUTTON -->
            <button type="submit" class="btn btn-primary w-100 mb-3">
              Save Game
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
