<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <!-- METADATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/styles.css}" />
    <link rel="stylesheet" th:href="@{/static/gameList.css}" />
    <link rel="stylesheet" th:href="@{/static/bootstrap/bootstrap.min.css}" />

    <!-- TITLE -->
    <title>Game Store</title>
  </head>

  <body>
    <!------------------------------>
    <!----------- HEADER ----------->
    <!------------------------------>
    <div class="header">
      <!-- LOGO -->
      <strong>GAME STORE</strong>

      <!-- USER INFORAMTION -->
      <div class="user-data-on-header-container">
        <!-- USER AND AUTHORITY -->
        <span class="mx-3" sec:authentication="name"></span>
        <strong>(ADMIN)</strong>

        <!------------------------------------->
        <!----------- LOGOUT BUTTON ----------->
        <!------------------------------------->
        <form th:action="@{/logout}" th:method="post">
          <button class="btn btn-light btn-sm">Logout</button>
        </form>
      </div>
    </div>

    <!-------------------------------------->
    <!----------- MAIN CONTAINER ----------->
    <!-------------------------------------->
    <div class="main-container">
      <!-------------------------------->
      <!----------- CONTROLS ----------->
      <!-------------------------------->
      <div class="controls">
        <!-- SECTION NAME -->
        <span>Games</span>

        <!--------------------------------------->
        <!----------- ADD GAME BUTTON ----------->
        <!--------------------------------------->
        <div>
          <form th:action="@{/game/create}">
            <button class="btn btn-primary">Add</button>
          </form>
        </div>
      </div>

      <!--------------------------------->
      <!----------- GAME LIST ----------->
      <!--------------------------------->
      <div class="content-container">
        <table class="table table-hover">
          <!-- TABLE HEADER -->
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Image</th>
              <th scope="col">Title</th>
              <th scope="col">Type</th>
              <th scope="col">Price</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <!-- TABLE BODY -->
          <tbody class="align-middle">
            <!-- ROW #1 -->
            <tr th:each="game : ${gameList}">
              <!-- GAME ID -->
              <th th:text="${game.id}" />

              <!-- GAME IMAGE -->
              <td>
                <div class="image-in-row">
                  <img th:src="${game.image}"/>
                </div>
              </td>

              <!-- TITLE -->
              <td th:text="${game.title}"/>

              <!-- TYPE -->
              <td th:text="${game.type}"/>

              <!-- PRICE -->
              <td th:text="${game.price}"/>

              <!------------------------------------>
              <!----------- GAME ACTIONS ----------->
              <!------------------------------------>
              <td>
                <div style="display: flex">
                  <form style="margin-right: 5px;" th:action="@{/game/update/{id}(id=${game.id})}">
                    <!-- UPDATE GAME BUTTON -->
                    <button class="btn btn-success btn-sm">Update</button>
				  </form>
				  <form th:action="@{/game/delete/{id}(id=${game.id})}" th:method="post">
				  	  <!-- DELETE GAME BUTTON -->
                    <button class="btn btn-danger btn-sm">Delete</button>
				  </form>
                </div>
              </td>
            </tr>
 
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
