<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    
    <!-- METADATA -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/styles.css}" />
    <link rel="stylesheet" th:href="@{/static/login.css}" />
    <link rel="stylesheet" th:href="@{/static/bootstrap/bootstrap.min.css}" />
    
    <!-- TITLE -->
    <title>SignUp - Game Store</title>
  </head>

  <body>
    
    <!------------------------------>
    <!----------- HEADER ----------->
    <!------------------------------>
    <div class="header" style="height: 10px">.</div>
    
    <!-------------------------------------->
    <!----------- MAIN CONTAINER ----------->
    <!-------------------------------------->
    <div class="container-custom">
      <div class="login-form-container">
        <div class="login-title-container">SignUp</div>
        
        <!----------------------------------->
        <!----------- SIGNUP FORM ----------->
        <!----------------------------------->
        <form th:action="@{/signup}" th:method="post" th:object="${user}">
			
			<div class="alert alert-warning mt-2" th:if="${#fields.hasErrors()}">
				<ul>
					<li th:each="err : ${#fields.errors()}" th:text="${err}"></li>
				</ul>
			</div>	
			
			
          <!-- EMAIL -->
          <div class="mb-3">
            <label class="form-label" for="email">Email address</label>
            <input
              type="text"
              th:field="*{email}"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
          </div>

          <!-- FULL NAME -->
          <div class="mb-3">
            <label class="form-label" for="name">Full name</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" />
          </div>

          <!-- PASSWORD -->
          <div class="mb-4">
            <label class="form-label" for="exampleInputPassword1"
              >Password</label
            >
            <input
              th:field="*{password}"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>

          <!-- CREATE ACCOUNT BUTTON -->
          <button type="submit" class="btn btn-primary w-100 mb-3">
            Create accounts
          </button>
        </form>

        <!--------------------------------------------->
        <!----------- I HAVE ACCOUNT BUTTON ----------->
        <!--------------------------------------------->
        <form th:action="@{/login}">
          <button type="submit" class="btn btn-secondary w-100">
            I have an account
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
